.u-section-1 {
  background-image: url("images/3007283.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1406px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.625rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 374px 593px 0 72px;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: 58px 706px 0 118px;
}

.u-section-1 .u-image-1 {
  width: 379px;
  height: 38px;
  margin: 72px auto 0 87px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 665px 289px 26px 434px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-size: 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 465px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 606px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 510px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-size: 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 245px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 404px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 290px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 220%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 65px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 224px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 334px;
    margin-right: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 57.93% 48.26%;
    background-size: auto 250%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 114px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -33px;
    margin-right: 24px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 34px;
    margin-top: -156px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 417px;
    margin-right: 0;
  }
}